html {
  scroll-behavior: smooth;
}

body {
  
  font-family: 'Poppins', sans-serif;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  margin-right: 50px;
}

.logout-button:hover {
  background-color: darkred;
}