.signup-container {
  width: 600px;
  margin: auto;
  text-align: center;
}

.signup-box {
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #002b5c;
}

.signup-box input, select{
margin: 10px 5px;
width: 500px;
}

.signup-box select{
  width: 510px;
}

input, select, button {
  width: 500px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  background-color: #002b5c;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

.success {
  background-color: #28a745;
  color: white;
}

.error {
  background-color: #dc3545;
  color: white;
}
